<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('article', {post: post, index: true}) %>
  <% }) %>
  <% if (page.total > 1){ %>
    <nav id="page-nav">
      <%- paginator({
        prev_text: '&laquo; Prev',
        next_text: 'Next &raquo;'
      }) %>
    </nav>
  <% } %>
<% } else { %>
  <div class="archive">
    <% page.posts.each(function(item){ %>
      <article class="<%= item.layout %> post">
        <footer class="entry-meta-header">
          <span class="meta-elements date">
            <time datetime="<%= item.date.toDate().toISOString() %>"><a href="<%- config.root %><%- item.path %>"><%= item.date.format(config.date_format) %></a></time>
          </span>
        </footer>
        <div class="entry-content">
          <header>
            <% if (item.title){ %>
              <% if (item.link){ %>
                <% if (item.title){ %>
                  <h1 class="title link"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></h1>
                <% } else { %>
                  <h1 class="title link"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></h1>
                <% } %>
              <% } else { %>
                <h1><a href="<%- config.root %><%- item.path %>"><%= item.title %></a></h1>
              <% } %>
            <% } else { %>
                <h1>(No title)</h1>
            <% } %>
          </header>
        </div>
      </article>
    <% }); %>
  </div>
    <% if (page.total > 1){ %>
    <nav id="page-nav">
      <%- paginator({
        prev_text: '&laquo; Prev',
        next_text: 'Next &raquo;'
      }) %>
    </nav>
<% } %>