<article id="<%= post.layout %>-<%= post.slug %>" class="post">
	<footer class="entry-meta-header">
		<span class="meta-elements date">
			<%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
		</span>
		<span class="meta-elements author"><%= config.author %></span>
	</footer>
	<%- partial('post/gallery') %>
	<header class="entry-header">
		<%- partial('post/title', {class_name: 'article-title'}) %>
	</header>
	<div class="entry-content">
		<% if (post.excerpt && index){ %>
			<%- post.excerpt %>
			<% if (theme.excerpt_link){ %>
				<p class="article-more-link">
					<a href="<%- config.root %><%- post.path %>#more"><%= theme.excerpt_link %></a>
				</p>
      <% } %>
    <% } else { %>
    	<%- post.content %>
    <% } %>
	</div>
	<footer class="entry-footer">
		<div class="entry-meta-footer">
			<span class="category">
				<%- partial('post/category') %>
			</span>
			<span class="tags">
				<%- partial('post/tag') %>
			</span>
		</div>
	</footer>
	<% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
  <% if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link">Comments</a>
      <% } %>
<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
</article>

<% if (index){ %>
	<hr class="article-devider">
<% } %>