<div class="mb-search">
  <form action="//google.com/search" method="get" accept-charset="utf-8">
    <input type="search" name="q" results="0" placeholder="<%= __('Search') %>">
    <input type="hidden" name="q" value="site:<%- config.url.replace(/^https?:\/\//, '') %>">
  </form>
</div>
<script src="//xuanwo.qiniudn.com/js/firebase-2.2.6.js"></script>
<script src="//xuanwo.qiniudn.com/js/counter.js"></script>
<footer id="footer">
	<h1 class="footer-blog-title">
		<a href="<%- config.root %>"><%= config.title %></a>
	</h1>
	<span class="copyright">
		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
		Modify from <a href="http://sanographix.github.io/tumblr/apollo/" target="_blank">Apollo</a> theme<br>
		Powered by <a href="http://hexo.io/" target="_blank">Hexo</a><font id="counter"></font>
	</span>
</footer>