<div class="mobile-nav-panel">
	<i class="icon-reorder icon-large"></i>
</div>
<header id="header">
	<h1 class="blog-title">
		<a href="<%- config.root %>"><%= config.title %></a>
	</h1>
	<nav class="nav">
		<ul>
			<% for (var i in theme.menu){ %><li><a href="<%- theme.menu[i] %>"><%= i %></a></li><% } %>
			<li><a id="nav-search-btn" class="nav-icon" title="Search"></a></li>
			<% if (theme.rss){ %><li><a href="<%- theme.rss %>" id="nav-rss-link" class="nav-icon" title="RSS Feed"></a></li><% } %>
		</ul>
	</nav>
	<div id="search-form-wrap">
		<%- search_form({button: '&#xF002;'}) %>
	</div>
</header>