<%- partial('_partial/head') %>

<body>
<div class="container">
    <div class="row">
        <%- partial('_partial/header') %>
    </div>

    <hr> 

    <div class="row">
        <!--Body content-->
	<%- body %>
    </div>

    <div class="footer">
        <%- partial('_partial/footer') %>
    </div>

</div>

<%- partial('_partial/after_footer') %>

</body>
</html>
