<%
var title = '';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive){
  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
  else title = __('archive_a');
}

var monthNames = [ "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December" ];

var last_year = 1970;
var is_first_year = 1;
%>

<h2 class="archive-head<% if (page.tag){ %> tag<% } else if (page.category){ %> category<% } %>"><%= title %></h3>

<% if (pagination == 2){ %>
    <% page.posts.each(function(item){ %>
        <%- partial('article', {item: item, index: true}) %>
    <% }); %>
    <%- partial('pagination') %>
<% } else { %>

    <div class="archive">

	<div>
        <% page.posts.each(function(item){ %>
            <%
                var year = item.date.toDate().getFullYear();
                var month = item.date.toDate().getMonth();
            %>

            <% if (year != last_year){ 
                last_year = year;
            %>
				<!-- end of last year -->
				</div>

				<!-- start of a new year -->
				<div data-toggle="collapse" data-target="#<%= year %>"> 
					<div class="archive-title">
						<a href="#" onclick="javascript:return false;" style="padding-left:5px"> In <%= year %> </a>
					</div> 
				</div>

				<!-- expand the posts of first year -->
				<div id="<%= year %>" <% if(is_first_year == 1){ is_first_year = 0; %> class="in" <% } else { %> class="collapse" <% } %> >
            <% } %>

				<!-- every item -->
				<div class="archive_item">
					<%= item.date.format("YYYY-MM-DD") %> 
					<span class="item_split"></span>
					<% if (item.link){ %>
						<% if (item.title){ %>
							<span class="title link"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></span>
						<% } else { %>
							<span class="title link"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></span>
						<% } %>
					<% } else { %>
						<span class="title"><a href="<%- config.root %><%- item.path %>"><%= item.title %></a></span>
					<% } %>
				</div>

        <% }); %>
        </div> 
            
    </div>

<% } %>
