<div class="alignleft">
  <% if (config.author){ %>
	  <%= new Date().getFullYear() %> &copy; <%= config.author %>,
  <% } else { %>
	  <%= new Date().getFullYear() %> &copy; <%= config.title %>,
  <% } %>
  All rights reserved. Powered by <%- link_to("http://hexo.io/", "Hexo") %>.
</div>
<div class="clearfix"></div>
