<div class="header">
    <ul class="nav nav-pills pull-right">
        <li>
            <div id="id_header_breadcrumb">
                <ol class="breadcrumb">
                    <% for (var i in theme.menu){ %>
			<li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
                    <% } %>
		    
		    <% if (theme.rss){ %>
                       <li> <a id="nav-rss-link" href="<%- theme.rss %>" title="Rss">Rss</a> </li>
		    <% } %>

		    <% if (theme.search) { %>
		       <li> <a id="nav-search-btn" title="Search" href="javascript:return false;">Search</a> </li>
		       <div id="search-form-wrap"> 
		           <%- search_form({button: '&#xF002;'}) %>
		       </div>
		    <% } %>
                </ol>
            </div>
        </li>
    </ul>

    <h2>
        <a href="<%- config.root %>"><%= config.title %></a> 
    </h2>
    <h5 class="text-muted"><% if (config.subtitle){ %> <%= config.subtitle %> <% } %> </h5>
</div>
